.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid black;
  border-radius: 8px;
  position: relative;
  margin-bottom: 20px;
  min-width: 320px;
  overflow: hidden;
}

.userInfo {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  color: #0d0d0d;
}

.avatar {
  background-color: #2a2a2a;
  border-radius: 50%;
  margin-bottom: 12px;
}

.userName {
  font-weight: 700;
  font-size: 26px;
  margin-bottom: 10px;
}

.userTag {
  color: #808080;
  margin-bottom: 8px;
  font-weight: 500;
}

.location {
  color: #808080;
  margin-bottom: 10px;
  font-weight: 500;
}

.list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 0;
  margin: 0;
  height: 70px;
}

.item {
  display: flex;
  flex-direction: column;
  width: calc(100% / 3);
  align-items: center;
  border-top: 2px solid #838383;
  background-color: #d3d3d3;
  height: 100%;
  justify-content: center;
  font-weight: 500;
}

.item:first-child {
  border-right: 2px solid #838383;
}

.item:last-child {
  border-left: 2px solid #838383;
}

.itemAccent {
  font-weight: 700;
}
